<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javen.dao.IUserDao">
	<select id="queryUserList" resultType="com.javen.model.User">
		SELECT * FROM user
		where 1=1
		<if test="loginName!=null"> and login_name=#{loginName}</if>
		<if test="password!=null">and password=#{password}</if>
	</select>
	
	<insert id="insertUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
	INSERT INTO user (login_name, password, user_name, phone, authority, login_ip) 
	VALUES 
	(#{loginName},#{password},#{userName},#{phone},#{authority},#{loginIp});	
	</insert>
	
	<update id="updateUser" parameterType="com.javen.model.User">
	update user
	<set>
		<if test="loginName!=null">login_name=#{loginName},</if>
		<if test="password!=null">password=#{password},</if>
		<if test="userName!=null">user_name=#{userName},</if>
		<if test="phone!=null">phone=#{phone},</if>
		<if test="authority!=null">authority=#{authority},</if>
		<if test="loginIp!=null">login_ip=#{loginIp},</if>
	</set>
	where id=#{id}
	</update>
</mapper>